body {
    font-family: Arial, sans-serif;
    background-color: #fffefe;
}

h2 {
    text-align: center;
}

form {
    width: 350px;
    margin: auto;
    background: rgb(248, 228, 228);
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input.valido {
    border-color: green;
}

input.invalido {
    border-color: red;
}

.error {
    color: red;
    font-size: 12px;
}

.botones {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#btnEnviar {
    background-color: #28a745;
    color: white;
}

button[type="reset"] {
    background-color: #dc3545;
    color: white;
}
